    <!-- Profile Section -->
    <section id="profile" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Profile</h2><br><br>
                <p>高校・大学と工業系で船舶設計を専攻。</p>
                <p>大学は中退し、音楽の専門学校でPAとギターを専攻。</p>
                <p>専門学校卒業後は音楽の道へは進まず、賃貸仲介の営業として約5年間勤務。</p>
                <p>営業をやりながら、顧客管理ツールやHTMLメールの作成に励む。</p>
                <p>色々作っているうちに、「ものづくりしてる時の方が楽しい」と思い、</p>
                <p>Web業界に転職をし、2018年9月からエンジニア人生をスタートさせる。</p>
            </div>
        </div>
    </section>
