    <!-- Skills Section -->
    <section id="skills" class="content-section text-center">
        <div class="images-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Skills</h2><br><br>
                    <h4>design・frontend</h4>
                    <p>HTML5/CSS/JavaScript/Vue.js</p>
                    <h4>backend</h4>
                    <p>Ruby on Rails/Ruby on Jets/PHP</p>
                    <h4>DB</h4>
                    <p>MySQL/PostgreSQL</p>
                    <h4>other</h4>
                    <p>Google Apps Script/Docker/AWS/ギター/賃貸仲介営業/ボットと会話</p>
                </div>
            </div>
        </div>
    </section>
